__pycache__/
*.pyc
.venv/
env/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Frontend dependencies
node_modules/
frontend/node_modules/

# Data
test_data/
outputs/
artifacts/
*.log
*.xlsx
backend/app/templates/

# Secrets
venv/
.env
*.key
*.pem